body{
  margin: 0;
  background-color: pink;
}
.maPageaccueil{
  display: inline-flex;
  flex-direction: row;
  width: 200px;
  height: 300px;
  margin: .5em 1em;
}
.final{
  text-align: center;
  width: 100px;
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 2em;
  border-radius: 8px;
}
.final a{
  text-decoration: none;

}
.final a:hover{
  background-color: #AAA;
  color: #345;
}
